<div class="row">
	<div class="col s12 m12">
		<div class="card">
			<div class="card-content">
				<div style="font-size:30px;font-weight: bolder; " class="card-title">{{blogPost.blogTitle}}</div>
				<table>
				<tr>
				<td style="width: 50px;height: 50px;"><img src="http://localhost:8083/Project2back/getimage/{{blogPost.postedBy.username}}" class="circle" width="40px" height="40px"></td><td style="padding-left:20px;"><h6>{{blogPost.postedBy.username}} | {{blogPost.postedOn |
					date:dd/MM/yyyy}}</td></h6>
				</tr>
				</table>
				<hr>
				<p>{{blogPost.description}}</p>
			</div>

		</div>
	</div>
</div>
<div ng-show="blogPost.approved==1">
<h3 class="center-align">Comments</h3>
<div style="margin-top:5px;" class="card">
	<div class="card-content">
		<div style="margin-top:5px;width:600px;" class="card" ng-repeat="bc in blogcomments | orderBy:'commentedOn'">
			<div class="card-content" ng-show="note != null">
				<p><h3>{{note}}</h3></p>
			</div>
			{{error.message}}
			<div class="card-content" ng-show="note == null">
			<table>
				<tr>
					<td style="width: 50px;height: 50px; padding-bottom: 5px;margin-top: 10px;"><img src="http://localhost:8082/Project2back/getimage/{{bc.commentedBy.username}}" class="circle" width="40px" height="40px"></td>
					<td><p style="font-size:20px;font-weight: bold;padding-left:20px;padding-bottom: 5px;margin-top: 10px;">{{bc.commentedBy.username}} | {{bc.commentedOn | date:'dd/MM/yyyy'}}</p></td>
				</tr>
			</table>
				<hr>
				<p>{{bc.commentText}}<p>
			</div>
		</div>
	<div class="card-action">
		<form>
				<div  class="row">
					<div class="input-field col s8 ">
						<textarea id="commenttext" ng-model="blogComment.commentText"
							class="materialize-textarea"></textarea>
						<label for="commenttext">Comment</label>
					</div>
			 	<button style="margin-top:60px;" class="btn waves-effect waves-light" type="submit" ng-click="addComment()">Save
  				</button>
			</div>
		</form>
	</div>
	</div>
</div>
</div>