<link href="css/style.css" rel="stylesheet">
<div class="card hoverable">
	<div class="card-header">
				<div class="center-align white-text indigo lighten-3" style="font-weight:400; font-size:30px;">Add ForumPost</div>
			</div>
		<form class="form-horizontal">
			<div class="row">
				<div class="input-field col s8 offset-s2">
					<input id="ftitle" type="text" class="validate"
						ng-model="forum.forumTitle"> <label for="ftitle">Forum
						Title</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s8 offset-s2">
					<textarea id="fdes" ng-model="forum.description"
						class="materialize-textarea"></textarea>
					<label for="fdes">Description</label>
				</div>
			</div>
			<div class="card-action center-align">
			 	<button class="btn waves-effect waves-light" type="submit" ng-click="createForum()">Submit
  				</button>
			</div>
		</form>
	</div>
</div>