<p style="font-size: 30px; margin-top:0px;">Pending Requests</p>
<div class="row">
	<div style="width: 350px; margin-left: 10px;"
		class="card animated hoverable col s3"
		ng-repeat="user in pendingRequests">
		<table class="card-content table">
			<tr>
				<td><img height="80" width="80" class="circle" style="border:2px dashed #ccc "/></td>
				<td>
					<table>
						<tr>
							<td style="font-size: 20px;  padding-bottom:0px;  padding-top:0px;"><b>User Name : </b>{{user.username}}</td>
							</tr>
							<tr>
							<td style="font-size: 20px; padding-bottom:0px; padding-top:0px;"><b>Role : </b>{{user.role}}</td>
							</tr>
							<tr>
							<td style="font-size: 20px; padding-bottom:0px; padding-top:0px;"><b>Online Status : </b><span ng-if="user.online">Online</span>
							<span ng-if="!user.online">Offline</span></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div style="margin-bottom:10px;" class="card-action">
			<a href="" ng-click="updatePendingRequest(user.username,'A')" style="margin-right:5px;margin-bottom:10px;" class="btn btn-sm col s5  green darken-1">Accept</a>
			<a href="" ng-click="updatePendingRequest(user.username,'D')" style="margin-bottom:10px;" class="btn btn-sm col s5 red accent-3">Reject</a>
		</div>
	</div>
</div>